{% extends 'base.html' %}

{% block title %}Agregar Alumno{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">Agregar Alumno</h1>

<form method="POST">
    <label for="matricula">Matrícula:</label>
    <input type="text" name="matricula" id="matricula" required>

    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" id="nombre" required>
    
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>
    
    <label for="carrera">Carrera:</label>
    <input type="text" name="carrera" id="carrera" required>
    
    <label for="cuatrimestre">Cuatrimestre:</label>
    <input type="text" name="cuatrimestre" id="cuatrimestre" required>
    
    <button type="submit">Agregar Alumno</button>
</form>


{% endblock %}
