{% extends 'base.html' %}

{% block title %}Editar Materia{% endblock %}

{% block content %}
    <h1 class="text-2xl font-bold mb-4">Editar Materia: {{ materia.nombre }}</h1>

    <form method="POST">
        <label for="nombre" class="block mb-2">Nombre de la Materia:</label>
        <input type="text" id="nombre" name="nombre" value="{{ materia.nombre }}" class="w-full p-2 mb-4 border rounded" required>
        
        <div class="mt-8 flex space-x-6">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded flex items-center gap-2 hover:bg-blue-600 transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
                  </svg>
                Guardar Cambios
              </button>
            <a href="javascript:history.back()" class="bg-gray-500 text-white px-4 py-2 rounded flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                Cancelar
              </a>
        </div>
    </form>
{% endblock %}